__pycache__/
*.pyc
*.log
*.sqlite3
.env
.env.*
*.db
node_modules/
dist/
build/
*.egg-info/
*.egg/
.vscode/
.idea/
*.DS_Store
*.coverage
coverage.xml
htmlcov/
docker-volume/
db_*/
backend/booking_service/models/booking_service_models_refactored.zip
backend/booking_service/models/booking_service_models_refactored/*